$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;




a {
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    cursor: pointer;

    &:hover {
        color: #f8f9fa;
        transition: all 0.4s ease-in-out;
    }
}



.container-fluid {
    padding-top: 10px;
    line-height: 24px;;
    padding-left: 20%;
    padding-right: 20%;
}

.topic {
    color: #f8f9fa;
}

.para {
    color: #000000;
}

@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

@mixin transition($for: all, $time-in: 250ms, $type: ease-in-out, $time-out: 0s) {
    transition: $for $time-in $type $time-out;
    -moz-transition: $for $time-in $type $time-out;
    -webkit-transition: $for $time-in $type $time-out;
    -o-transition: $for $time-in $type $time-out;
}